html, body {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: black;
}

h1 {
  color: white;
  font-family: Helvetica;
  text-align: center;
}

canvas {
  position:absolute;
  left:0px;
  top:50px;
}

#buttonDiv {
  padding-bottom: 5em;
  position: fixed;
  width: 100%;
  bottom: 2em;
  margin: 0;
  padding: 0.5em;
  list-style-type: none;
  text-align: center;
  width: 100%;
  height: 100%;
  position:relative;

}



#buttonDiv ul li a {
  text-decoration: none;
  padding: .2em 1em;
  background-color: black;
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}

#gen {
  outline: none;
  padding-top: 5px;
  text-decoration: none;
  opacity: 0.6;
  background-color: black;
  color: white;
  border: thin solid white;
  height: 30px;
  width: 90px;
  border-radius: 2px;
  transition: 0.5s;
  padding-bottom: 5px;
}

#gen:hover {
  background-color: grey;
  color: black;
  border: thin solid black;
  opacity: 0.8;
}

