html, body {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: black;
}

h1 {
  color: white;
  font-weight: lighter;
  font-family: helvetica;
  text-align: center;
}

canvas {
  position:absolute;
  left:0px;
  top:50px;
}

#buttonDiv {
  position: fixed;
  text-align: center;
  position:relative;
}



#gen {
  outline: none;
  padding-top: 5px;
  text-decoration: none;
  opacity: 0.6;
  background-color: black;
  color: white;
  border: thin solid white;
  height: 30px;
  width: 90px;
  border-radius: 2px;
  transition: 0.5s;
  padding-bottom: 5px;
}

#gen:hover {
  background-color: grey;
  color: black;
  border: thin solid black;
  opacity: 0.8;
}

canvas:hover {
  background-color: black;
  color: black;
  border: thin solid black;
  opacity: 0.8;
}
